dj-database-url==0.5.0
Django==3.0.14
django-allauth==0.42.0
django-annoying==0.10.6
django-picklefield==3.0.1
django-social-api==0.1.1
django-vkontakte-api==0.8.7
django-vkontakte-places==0.7.1
django-vkontakte-users==0.8.7
gunicorn==20.0.4
httplib2==0.9.2
oauth==1.0.1
oauthlib==3.1.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
whitenoise==5.1.0
psycopg2==2.8.5

